*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
button {
  padding: 0;
}

*:not(dialog) {
  margin: 0;
}

html {
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  word-break: normal;
  line-break: strict;
  overflow-wrap: anywhere;

  tab-size: 4;

  overflow-x: clip;

  &:has(:modal[open]) {
    overflow: hidden;
  }
}

body {
  overflow: inherit;
  min-height: 100vh;
}

ul,
ol,
li {
  list-style: none;
}

address,
strong,
em {
  font-style: normal;
}

svg,
img,
video,
audio,
iframe,
object,
canvas {
  vertical-align: middle;
  max-inline-size: 100%;
}

img,
video {
  block-size: auto;
}

iframe {
  border: none;
}

img {
  image-rendering: auto;
  width: 100%;
  height: auto;
}

input,
button,
textarea,
select,
::file-selector-button {
  font: inherit;
  color: inherit;
  font-size: max(16px, 1em);
}

textarea {
  resize: block;
  max-inline-size: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  opacity: 0;
  position: absolute;
}

input[type="submit"],
input[type="button"],
label[for],
select,
summary {
  cursor: pointer;
}

button,
[role='tab'],
[role='button'],
[role='option'],
[type='button'],
[type='reset'],
[type='submit'],
::file-selector-button{
  cursor: pointer;
  touch-action: manipulation;
}

:disabled {
  cursor: not-allowed;
}

select::-ms-expand {
  display: none;
}

button {
  border: none;
  background-color: transparent;
}
